body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: #e1e8ed;
  height: 100%;
}

.app-root {
   min-height:100%;
   position:relative;
   padding-bottom: 40px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;
   margin-left: 50%;
   margin-top: 20px;
   font-size: 0.8em;
   color: #8899a6;
}

.header {
  .title {
    font-weight: bold;
    font-size: 2em;
    margin-left: 43%;
    margin-top: 50px;
    color: #333;
  }

  .description {
    margin-top: 20px;
    margin-left: 40%;
    width: 400px;
    color: #888;
  }

}
.loading {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 220px;
    margin-top: 20px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.handle {
  color: #8899a6;
}

.search-result, .influence-item {
  > div {
      display: inline-block;
  }

  .user-container {
    width: 80%;
    margin-left: 10px;
    padding-top: 7px;
    vertical-align: top;
    .name {
      font-weight: bold;
      font-size: 1.1em;
      padding-bottom: 2px;
    }

    .handle {
      font-size: 0.8em;
    }
  }
}
