body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: #e1e8ed;
}

.handle {
  color: #8899a6;
}

.search-result, .influence-item {
  > div {
      display: inline-block;
  }

  .user-container {
    width: 80%;
    margin-left: 10px;
    padding-top: 7px;
    vertical-align: top;
    .name {
      font-weight: bold;
      font-size: 1.1em;
      padding-bottom: 2px;
    }

    .handle {
      font-size: 0.8em;
    }
  }
}
